<div class="ajax UserInfoBar InfoBarBase Module centeredWithinWrapper">
  <ul class="userStats">
    <!-- <li>
        <%= @profiles.count %> storybooks
    </li> -->
    <!-- <li>
      <a href="/ramlijohn/pins/" class="">
        20 stories
      </a>
    </li>
    <li>
      <a href="/ramlijohn/likes/">
        19 likes
      </a>
    </li> -->
  </ul>
  <div class="bookshelfName">
          <%= bookshelf.name %>
  </div>
  <!-- <ul class="viewerContributorEditorLinks">
    <li>
        <a href="/ramlijohn/followers/">
          18 viewers
        </a>
    </li>
    <li>
        <a href="/ramlijohn/following/">
          230 Contributors
        </a>
    </li>
    <li>
        <a href="/ramlijohn/following/">
          40 editors
        </a>
    </li>
  </ul> -->
</div>