<%= form_for @bookshelf, :html => { :multipart => true }, :remote => true do |f| %>
  <div class="field">
    <%= f.text_field :name, :required => true, :style => "width: 200px;display: inline;font-size: 0.9em;padding: 0.3em 0.5em;margin-top: 10px;" %>
  </div>
    <%= f.submit :class => "rounded createChapterButton Button btn", :value => "Save changes", :style => "padding: 0.3em 0.5em;display: inline;width: 100px;margin-top: -90px;font-size: 0.8em;margin-left: 320px;" %>
<% end %>
