
<div class="firststorybook-coachmark hide">
	<%= image_tag("/images/coachmarks/firststorybook.png") %>
	<div class="sneakpeek_buttons">
		<button class="green_button nextguide">Done</button>
  </div>
</div>
<div class="welcomefamilytales-coachmark hide">
	<%= image_tag("/images/coachmarks/welcomebookshelf.png") %>
	<div class="sneakpeek_buttons">
		<a class="btn skipguide" >Done</a> &nbsp; or &nbsp;
		<button class="green_button nextguide">Next</button>
  </div>

</div>  
<div class="bookshelf-coachmark hide">
	<%= image_tag("/images/coachmarks/bookshelf.png") %>
	<div class="sneakpeek_buttons">
		<a class="btn skipguide" >Done</a> &nbsp; or &nbsp;
		<button class="green_button nextguide">Next</button>
  </div>
</div>  

</div>  
<div class="bookshelfinvite-coachmark hide">
	<%= image_tag("/images/coachmarks/bookshelfinvite.png") %>
	<div class="sneakpeek_buttons">
		<a class="btn skipguide" >Done</a> &nbsp; or &nbsp;
		<button class="green_button nextguide">Next</button>
  </div>
</div>  
