<div class="coachmarks hide">
	<div class="firststorybook-coachmark">
		<%= image_tag("/images/coachmarks/firststorybook.png") %>
	</div>
	<div class="welcomefamilytales-coachmark">
		<%= image_tag("/images/coachmarks/welcomefamilytales.png") %>
	</div>  
</div>