<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
  <head>
  	<title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>About FamilyTales</h1>
    <p>
      FamilyTales enables families to capture and share their precious memories in a digital and physical storybook that can be passed on for generations to come.
    </p>
  </body>
</html>