<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
  <head>
  	<title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>About HaloLane</h1>
    <p>
      The best way to capture, share and remember your lost love one's life with friends and family.
    </p>
  </body>
</html>