<% provide(:title, 'Something went wrong') %>
  <div class="container">
    <div class="row">
      <div class="span6 offset3">
          <h3>We're sorry, but something went wrong.</h3>
          <br>
          <div class="center">
          <h5>We're working on getting this fixed as soon as we can.</h5>
            <p><a href="javascript:javascript:history.go(-1)" >Go back to previous page</a> or <a href="/" >Go to the FamilyTales homepage</a>

              </p>
            </div>
      </div>
    </div>
  </div>