<% provide(:title, 'Page not found') %>
  <div class="container">
    <div class="row">
      <div class="span6 offset3">
          <h3>Sorry, this page isn't available</h3>
          <br>
          <div class="center">
          <h5>The link you followed may be broken, or the page may have been removed.</h5>
            <p><a href="javascript:javascript:history.go(-1)" >Go back to previous page</a> or <a href="/" >Go to the FamilyTales homepage</a>

              </p>
            </div>
      </div>
    </div>
  </div>