<% provide(:title, 'Let\' get started') %>

<div class="
page onboarding_page
">
  
  
  
  
  
  
  <div id="page_container"><section class="new_invite_flow"><div class="invite-all">
	<div id="line-container">
		<div id="dotted-line"></div>
	</div>

	<div id="steps-container">
		<ul id="steps">
			<li id="first">
				<img src="/static/images/invite-onboarding/dot1_active.png" alt="step1">
				<p class="active">Add your family</p>
			</li>
			<li id="second">
				<img src="/static/images/invite-onboarding/dot2_inactive.png" alt="step1">
				<p class="inactive">Complete your profile</p>
			</li>
			<li id="third">
				<img src="/static/images/invite-onboarding/dot3_inactive.png" alt="step1">
				<p class="inactive">Start using FamilyLeaf!</p>
			</li>
		</ul>
	</div>

  <div class="main-steps-content">
<p class="invite-heading1">FamilyLeaf only works well with the whole family on board, <br>so make sure you add as many loved ones as possible!</p>

<div id="invite-import" class="section2">
	<div class="box-line"></div>
	<p class="invite-heading2">Import family members</p>
	<p class="invite-heading3">Don't worry — we won't automatically send anything. We hate spam as much as you do.</p>
	<div id="fb-and-gmail">
		<div class="invite_facebook">
			<a id="facebook"></a>
		</div>
		<div class="invite_gmail">
			<a id="gmail"></a>
		</div>
	</div>
	<div class="invite_other" style="height:0px;">
	</div>
</div>

<div id="invite-email" class="section2"><a class="manual-link">Manually email family instead</a></div>
</div>

</div>
</section></div>
</div>