<div class="coachmarks hide">
	<div class="edit-coachmark">
		<%= image_tag("/images/coachmarks/edit.png") %>
	</div>
	<div class="invite-coachmark">
		<%= image_tag("/images/coachmarks/invite.png") %>
	</div>
	<div class="addmemory-coachmark">
		<%= image_tag("/images/coachmarks/memory.png") %>
	</div>
	<div class="welcome-coachmark">
		<%= image_tag("/images/coachmarks/welcome.png") %>
	</div>  
</div>