<!-- Modal -->
<div id="confirmemail" class="modal hide fade confirmemail" tabindex="-1" role="dialog" aria-labelledby="newconfirmemail" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="confirmemail">Confirm your email</h3>
  </div>
  <div class="modal-body">
  	Please confirm your email to invite your friends to view or contribute to the storybook of <%= @profile.first_name %>.
  </div>
  <div class="modal-footer">
  	<button class="btn btn-primary" class="close" data-dismiss="modal" aria-hidden="true">Ok</button>
  </div>
</div>
