<!-- Modal -->
<div id="emailstories" class="modal hide fade emailstories" tabindex="-1" role="dialog" aria-labelledby="newconfirmemail" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="emailstories">Add Stories by Email</h3>
  </div>
  <div class="modal-body">
  	<p>You can add a story to this storybook by sending an email to:</p>
    <h2 id="storyemail"><%= link_to "story+"+@profile.url+"@familytales.co", "mailto:story+"+@profile.url+"@familytales.co", target: "blank" %></h2>
    <ul style="list-style:disc inside;">
      <% if signed_in? && current_user.email == ('familytalesuser2@gmail.com') and @profile.url == "alexdunphy" %>
        <li>Send the email from your registered email explorer@example.com </li>
      <% else %>
        <li>Send the email from your registered email <%= current_user.email %> </li>
      <% end %>
      <li>Subject will be ignored</li>
      <li>Body will become your written story</li>
      <li>Attachments will be added to the storybook</li>
    </ul>
   
  </div>
  <div class="modal-footer">
     <%= button_to 'Add this email to your contacts', getvcf_profile_path(@profile.id), :method => :get, class:"green_button" %>
  </div>

</div>
