<!-- Modal -->
<div id="addcontributor" class="modal hide fade" tabindex="-1" role="dialog" role="dialog" aria-labelledby="addcontributorLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="addcontributorLabel">Invite your family and friends</h3>
  </div>
  <div class="modal-body">
    <%= render 'shared/invitation_form' %>
  </div>
</div>
