<form accept-charset="UTF-8" action="/story/updatetitle" class="new_memory" data-remote="true" enctype="multipart/form-data" id="new_memory" method="get">
<input class="rounded createTitleButton Button btn" name="commit" type="submit" value="Save">
<div class="createChapterNameContainer">
	 <input type="text" id="memory_question" name="memory[question]" required="true" title="This field can't be blank" class="createTitleName" maxLength="140"/>
</div>

</form>