<%= form_for @chapter, :html => { :multipart => true }, :remote => true  do |c| %>
	<%= c.submit "Create", class: "rounded createChapterButton Button btn" %>
  <div class="createChapterNameContainer">
  	<%= c.text_field :chapter_name, :required => true, :title => "This field can't be blank", :class => "createChapterName", :placeholder => "Create a new chapter", :autofocus => "" %>
  	<input id="chapter_profile_id" name="chapter[profile_id]" type="hidden" value="<%= @profile.id %>">
    
  </div>
<% end %>