<% provide(:title, @profile.first_name + " " + @profile.last_name) %>
<div class="row">
  <aside class="span4">
    <% if 
          ( signed_in? and @profile.privacy == 0 ) or
          ( signed_in? and @profile.privacy > 0 and has_relationship?(@profile.id, current_user.id)) or
          ( is_invited?(params[:invitation_token])) %>
      <section>
        <%= render 'shared/memory_form' %>
        
      </section>
    <% end %>
  </aside>
  <div class="span8">
    <h3>Memory Lane</h3>
    <%= render 'shared/memoryfeed' %>
  </div>
</div>
<%= render 'shared/invitation_modal' %>

