<% provide(:title, @profile.first_name + " " + @profile.last_name) %>

<div id="content">
    <%= render 'shared/memoryfeed' %>
</div>
<%= render 'invitation_modal' %>
<%= render 'newmemory_modal' %>
<% if current_user.memorycount == 0 %>
	<%= render 'shared/new_user_storybook_modal' %>
<% end %>

