<% provide(:title, @profile.first_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/profile_info' %>
    </section>
    <section>
      <%= render 'shared/memory_form' %>
    </section>
  </aside>
  <div class="span8">
    <h3>Memory Lane</h3>
    <%= render 'shared/memoryfeed' %>
  </div>
</div>
