<% provide(:title, @profile.first_name + " " + @profile.last_name) %>
<div class="row storybook">
  <div class="span12 storybook">
    <h3>Memory Lane</h3>
    <%= render 'shared/memoryfeed' %>
  </div>
</div>
<%= render 'shared/invitation_modal' %>

