<% provide(:title, @profile.first_name + " " + @profile.last_name) %>

<div id="content">
    <%= render 'shared/memoryfeed' %>
</div>
<%= render 'invitation_modal' %>
<%= render 'slideshow_modal' %>

