<% provide(:title, 'Password Sent') %>

<div class="row">
  <div class="span6 offset3">
  	<h3>Email sent</h3><br>
  	<h5>We've sent password reset instructions to your email address.</h5><br>
		<p>If you don't receive instructions within a few minutes, check your email's spam and junk filters.</p>
	</div>
</div>