<% provide(:title, 'Forgot your password?') %>
<div class="row">
  <div class="span6 offset3">
		<%= form_tag password_resets_path, :method => :post do %>

			<h5>Enter your email address to reset your password</h5> 
		  <div class="field">
		    <%= text_field_tag :email, params[:email], type: "email", :required => true %>
		  </div>
		  <div class="actions"><%= submit_tag "Reset", :class => "green_button" %></div>
		<% end %>
	</div>
</div>