<div data-no-turbolink>
<a href="#newstorymodal" class="link_newstorymodal" id="insert_tile_num" data-toggle="modal" data-dismiss="modal" aria-hidden="true">
	<span class="hoverMask"></span>
</a>
</div>
<i class="icon-plus-sign icon-4"></i>
<span class="sampletitle-insert_tile_num"><%= @questions.sample.question.gsub("@profile.first_name",@profile.first_name) %></span>