<% provide(:title, "Edit settings") %> 

<div class="row">
  <div class="span6 offset3">
      <h4>Edit your settings</h4><br><br>
      <%= render 'shared/user_edit_form' %> 
    </div><!-- .tab-pane tab2 -->
  </div><!-- .tabcontent -->

