<% provide(:title, "Edit user") %> 

<div class="row">
  <div class="span6 offset3">
      <% if current_user.verified == false %>
        <h4>
          Please update your setting to save your storybooks.
        </h4>
      <% end %>
      <%= render 'shared/user_edit_form' %> 
    </div><!-- .tab-pane tab2 -->
  </div><!-- .tabcontent -->

