<% provide(:title, @user.first_name+ " " + @user.last_name) %>
<%= render 'shared/user_frontpage' %>

  <div class="flexslider">
		  <ul class="slides">
		  	<li>
      1
    </li>
    <li>
     2
    </li>
    <li>
     3
    </li>
    <li>
      4
    </li>

		  </ul>
		</div>