<!-- Modal -->
<div id="betamodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="betamodalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="betamodalLabel">FamilyTales is in beta</h3>
  </div>
  <div class="modal-body">
  	FamilyTales is proud to be in beta mode. For now, access to FamilyTales is by invite-only. Please enter the beta password you got in your email.<br><br>
  	
		<input type="text" name="betapassword" id="betapassword" value="" size="32" placeholder="Beta password" required /><br>
  </div>
  <div class="modal-footer">
	
  	<input type="button" value="Submit" id="submitbetapwd" class="submit_button">
  	- or -
   	<a data-toggle="modal" data-dismiss="modal" aria-hidden="true" href="#betasignup" class="requestinvite_button">Request an invite</a>
  	
	</div>
</div>
