<!-- Modal -->
<div id="betasignup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="betamodalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="betamodalLabel">Reserve Your Spot</h3>
  </div>
  <div class="modal-body">
  	<div class="betasignupdescription">
	  	FamilyTales is in beta mode. For now, access to FamilyTales is by invite-only. Reserve your spot on the wait list now to recieve:
      <br><br>
      <li>Early access to our storybook services</li>
      <li>Reserve your URL link and email address</li>
      <li>Exclusive add-ons for the first 100 members </li>
  	</div>
  	<!-- Begin MailChimp Signup Form -->

	<div id="mc_embed_signup">
	<form action="http://familytal.us7.list-manage.com/subscribe/post?u=05da044d0ea24d68ed0c3475c&amp;id=21e5e3a5f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		<div class="clear"><input type="submit" class="green_button" value="Request an invite" name="subscribe" id="mc-embedded-subscribe"></div> - or - 
    <a data-toggle="modal" data-dismiss="modal" aria-hidden="true" href="#betamodal" class="submitbetapwd green_button">Enter beta password</a>
	</form>
	</div>

	<!--End mc_embed_signup-->
  </div>
</div>
