<!-- Modal -->
<div id="betasignup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="betamodalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="betamodalLabel">Request an invite</h3>
  </div>
  <div class="modal-body">
  	<div class="betasignupdescription">
	  	FamilyTales is proud to be in beta mode. For now, access to FamilyTales is by invite-only. Request an invite now below.
  	</div>
  	<!-- Begin MailChimp Signup Form -->

	<div id="mc_embed_signup">
	<form action="http://familytal.us7.list-manage.com/subscribe/post?u=05da044d0ea24d68ed0c3475c&amp;id=21e5e3a5f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		<div class="clear"><input type="submit" class="signup_button" value="Request an invite" name="subscribe" id="mc-embedded-subscribe"></div>
	</form>
	</div>

	<!--End mc_embed_signup-->
  </div>
</div>
