<div id="betadescmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="startModalLabel" aria-hidden="true" data-keyboard="false">
	<div class="modal-header">
		FamilyTales is proud to be in beta mode!
	</div>
	<div class="modal-body">
		<p>We would love to hear from you! Notify us of any issues or ideas of improvement: :
			<ul>
				<li><a href="mailto:hello@familytales.co">Send an email hello@familytales.co</a></li>
				<li>Call our toll-free number <strong>1-877-753-9166</strong> </li>
				<li>Click on the <strong>feedback form</strong> in the bottom-right of our website</li>
			</ul>
		</p>
		<p>Are you willing to openly and honestly give us feedback?</p>
	</div>
	<div class="modal-footer">
		
		<%= f.submit "Yes, start my storybook!", class: "btn btn-primary btn_yellow", width:"40px" %></br></br>
		<a href="http://www.familytales.co"><button class="btn btn-primary" width="40px">No, bring me to the front page.</button></a>
		<% end %>
	</div>
</div>