<% if not @profile.chapterlist.nil? %>
	<ul class="chapterPicker_list">
		<% @profile.chapterlist.reverse.each do |chp| %>
			<% if chp.chapter_num == @profile.chaptercount %>
			  <li class="chapterPickerItem active" id="<%= chp.id %>">
			    <%= "Chapter " + chp.chapter_num.to_s + " - " + chp.chapter_name %>
			  </li>
			<% else %>
			  <li class="chapterPickerItem" id="<%= chp.id %>">
			    <%= "Chapter " + chp.chapter_num.to_s + " - " + chp.chapter_name %>
			  </li>
			<% end %>
		<% end %>
	</ul>
<% end %>