<!-- Modal -->
<div id="forgetpassword" class="modal hide fade" tabindex="-1" role="dialog" role="dialog" aria-labelledby="addcontributorLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="forgetpasswordlabel">Find your account</h3>
  </div>
  <div class="modal-body">
    Please enter your email
    <input id="user_email" name="user[email]" size="30" type="text" />
  </div>
  <div class="modal-footer">
  </div>
</div>
