<div id="tourcontrols" class="tourcontrols hide" style="right: 30px;">
	<p>Welcome to FamilyTales, <%= @user.first_name %>! This is your FamilyTales library. Would you like a tour?</p>
	<div class="center guideoptions">
		<span class="button green_button nextguide" id="activatetour"><a href="javascript:void(0);" onclick="startIntro();">Yes</a></span> or
		<span id="activatetour"><a class="btn skipguide" href="javascript:void(0);" onclick="endIntro();">No</a></span> 
	</div>
		<span class="close" id="canceltour" onclick="endIntro();">x</span>
</div>