<div class="loading-spinner">
	<div class="loading-spinner-content">
	  <i class="icon-spinner icon-spin icon-4x"></i>
	  <div class="loading-desc">
		  <h2 >Loading... </h2>
		</div>
	</div>
</div>

