<!-- Modal -->
<div id="newstorybook" class="modal hide fade" tabindex="-1" role="dialog" role="dialog" aria-labelledby="addcontributorLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="newstorybookLabel">New storybook</h3>
  </div>
  <div class="modal-body">
  	<h2>Celebrate the life of</h2>
  	<%= render 'shared/profile_form' %>
  </div>
</div>
