
<div id="newuserstorybook" class="modal fade newuserstorybook" tabindex="-1" role="dialog" aria-labelledby="newuserstorybookLabel" aria-hidden="true">
  
<!--   
  <div class="view">
  	<%= image_tag("/images/coachmarks/view.png") %>
  </div> -->
  </div>
</div>
