<h1>
	<%= @profile.first_name + " " + @profile.last_name %></br>
    Born: <%= @profile.birthday.strftime("%B %d, %Y") %></br>
    Passed Away: <%= @profile.deathday.strftime("%B %d, %Y") %></br>
 	
</h1>
<span>
	<%= link_to "Edit this storybook", edit_profile_path(@profile) %>
</span>
