<!-- Modal -->
<div id="slideshow" class="modal hide fade" tabindex="-1" role="dialog" role="dialog" aria-labelledby="slideshowLabel" aria-hidden="true">
   <div id="galleria">
    <img src="http://cdn.sheknows.com/articles/2012/02/Sarah_Parenting/baby-names-baby-in-towel2.jpg" data-title="My title" data-description="My description">
    <img src="http://images.idiva.com/media/content/2012/Jul/babyhair1.jpg" data-title="Another title" data-description="My <em>HTML</em> description">
  </div>
</div>
