  <aside>
    <section class="user-info">
        <%= @user.first_name %>
        <%= @user.last_name %><br>
        <%= link_to "Edit settings", edit_user_path(current_user), :class=>"edit-settings"%>
    </section>
  </aside>
