<div class="tabbable tabs-left">
  <ul class="nav nav-tabs span2">
    <%= render 'shared/user_info' %><br>
    <li class="active"><a href="#tab1" data-toggle="tab">Storybooks</a></li>
    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
    <!-- <li><a href="#tab3" data-toggle="tab">Notification</a></li> -->
  </ul>
    
  <div class="tab-content span9" id="front-tab-content">
    <div class="tab-pane active" id="tab1">
      <p>
        <a href="#newstorybook" class="newstorybooklink" rel="tooltip" data-placement="bottom" title="Create a new storybook" data-toggle="modal" data-keyboard="true">
          <button class="green_button" type="button">
            Create a new storybook      
          </button>
        </a>
      </p></br>
      <% if current_user.profiles_with_relationships.any? %>
        <h5>Storybooks that you are contributing to
          <a href="#newstorybook" class="newstorybooklink" rel="tooltip" data-placement="bottom" title="Create a new storybook" data-toggle="modal" data-keyboard="true">
            <i class="icon-plus"></i>
          </a>

        </h5>
        <hr>
        <% @profiles.each do |p| %>
          <%= link_to  p.first_name + " " + p.last_name, root_url + p.url %><hr>
        <% end %>
      <% else %>
        <p>You don't have any life storybooks. Why don't you create one?</p>
      <% end %>
    </div><!-- .tab-pane tab1 -->
  </div><!-- .tabcontent -->
</div><!-- .tabbable -->
