$(document).ready(function(){
	
	$( "#memory_date_cal" ).datepicker({ dateFormat: 'yy-mm-dd', altField: "#memory_date" });

	$("#memory_date").keydown(function(event) {
      // Allow: backspace, delete, tab, escape, and enter
      if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
           // Allow: Ctrl+A
          (event.keyCode == 65 && event.ctrlKey === true) || 
           // Allow: home, end, left, right
          (event.keyCode >= 35 && event.keyCode <= 39)) {
               // let it happen, don't do anything
               return;
      }
      else {
          // Ensure that it is a number and stop the keypress
          if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
              event.preventDefault(); 
          }   
      }
  });
  $('.deletepage').tooltip({
  	placement : 'top'
  });
	$('a').tooltip({
  	placement : 'bottom'
  });
  $('button').tooltip({
  	placement : 'right'
  });
  $('i').tooltip({
  	placement : 'bottom'
  });
  $('input.template_thumb').tooltip({
  	placement : 'top'
  });
  $('img').tooltip({
  	placement : 'top'
  });
	$(".tooltip").tooltip();
  $("a[rel=tooltip]").tooltip();

  $('.chapterPickerItem').click(function() {
  	$('.chapterPickerItem').removeClass('active');
  	$(this).closest('li').addClass('active');
  	$('.chapterPickerInnerWrapper').removeClass('visible');
  	$('.createChapter_form').removeClass('visible');
		$('div').remove('.chapterPickerMask')
		var new_chapter = $(this).closest('li').text();
		var chapter_id = $(this).attr('id');
		var hidden_input = '<input id="memory_chapter" name="memory[chapter]" type="hidden" value="' + chapter_id + '">';
		$('.currentChapterName').html(new_chapter + hidden_input);
  });

  $('.pagenumwrapper').hover(function(){
  	$(this).find('.page-edit-btn').removeClass('hidden');
  }, function() {
  	$(this).find('.page-edit-btn').addClass('hidden');
  });

	$(".icon-off, .icon-cog, .iconaddcontributor, .playslideshow, .skipquestion, .iconsignout, .iconhelp, .iconfamtree").fadeTo("fast", 0.6);
	$(".icon-off, .icon-cog, .iconaddcontributor, .playslideshow, .skipquestion, .iconsignout, .iconhelp, .iconfamtree").hover(function() {
		$(this).fadeTo('fast',1);
	}, function() {
   	$(this).fadeTo("fast", 0.6);
 	});
	$(".iconaddcontributor, .playslideshow").click(function() {
		$(this).fadeTo('fast',1);
	});

	$(".currentChapter").click(function() {

		$('.chapterPickerInnerWrapper').addClass('visible');
		$('.createChapter_form').addClass('visible');
		$('.chapterPicker').append('<div class="chapterPickerMask"></div>')
		$(".chapterPickerMask").bind('click',function() {
			$('.createChapter_form').removeClass('visible');
			$('.chapterPickerInnerWrapper').removeClass('visible');
			$('div').remove('.chapterPickerMask')
		});
	});

	$('a.link_newstorymodal').click(function(){
		var tile_num = $(this).attr('id');
		var newInput = '<input type="hidden" id="memory_tile_num" name="memory[tile_num]" value="' + tile_num + '"/>'
		$('.newstory_tile_num').html(newInput);
		var sampleTitleClass = ".sampletitle-" + tile_num
		var sampleTitle = $(sampleTitleClass).text();
		var hidden_input = '<input id="memory_title" name="memory[title]" type="hidden" value="' + sampleTitle + '"/>';
		$('.currentTitleName').html(sampleTitle + hidden_input);
	});

	$('.titlePickerItem').click(function() {

  	$('.titlePickerInnerWrapper').removeClass('visible');
  	$('.createTitle_form').removeClass('visible');
		$('div').remove('.titlePickerMask')
		var new_title = $(this).closest('li').text();
		var hidden_input = '<input id="memory_title" name="memory[title]" type="hidden" value="' + new_title + '"/>';
		$('.currentTitleName').html(new_title + hidden_input);
  });

  $('.createTitleButton').click(function(){
  	$('.titlePickerInnerWrapper').removeClass('visible');
  	$('.createTitle_form').removeClass('visible');
		$('div').remove('.titlePickerMask')
  });

	$(".currentTitle").click(function() {
		var currentTitleName = $.trim($('.currentTitleName').text());
		var newInput = '<input type="text" required="true" id="memory_question" name="memory[question]" title="This field can\'t be blank" class="createTitleName" id="new_title_name" maxLength="50" value="' + currentTitleName + '"/>'
		$('.createChapterNameContainer').html(newInput);
		$('.titlePickerInnerWrapper').addClass('visible');
		$('.createTitle_form').addClass('visible');
		$('.titlePicker').append('<div class="titlePickerMask"></div>')
		$(".titlePickerMask").bind('click',function() {
			$('.createTitle_form').removeClass('visible');
			$('.titlePickerInnerWrapper').removeClass('visible');
			$('div').remove('.titlePickerMask')
		});
	});


	$(".newmemorybtn").fadeTo("fast", 0.8);
	$(".newmemorybtn").hover(function() {
		$(this).fadeTo('fast',1);
	}, function() {
   	$(this).fadeTo("fast", 0.8);
 	});

 	$(".nav_right.hotspot").hover(function() {
		$('.nav_controls.right').fadeTo("fast",0.5);
	}, function() {
	  $('.nav_controls.right').fadeTo("fast", 0);
 	});

 	$(".nav_left.hotspot").hover(function() {
		$('.nav_controls.left').fadeTo("fast",0.5);
	}, function() {
	  $('.nav_controls.left').fadeTo("fast", 0);
 	});

 	$(".nav_controls.right, .nav_controls.left").hover(function() {
 		$(this).fadeTo("fast",0.8);
 	}, function() {
	  $(this).fadeTo("fast", 0.5);
 	});


	$('.nav_controls.right').click(function() {
		var scrollVal = $('html').scrollLeft() + $('body').scrollLeft() + 300;
	  $('body, html').animate({scrollLeft:scrollVal}, 'slow');
	});

	$('.nav_controls.left').click(function() {
		var scrollVal = $('html').scrollLeft() + $('body').scrollLeft() - 300;
	  $('body, html').animate({scrollLeft:scrollVal}, 'slow');
	});

	$(".iconaddcontributor, .playslideshow").click(function() {
		$(this).fadeTo('fast',1);
	});

	$(".storyWrapper").hover(function() {
		$(this).find(".story-edit-btn").fadeTo(50,1);

	}, function() {
   	$(this).find(".story-edit-btn").fadeTo(50,0);
 	});

	$(".playslideshow").click(function() {
		$('#slideshow').removeClass("hide");
	 	$('.flexslider').flexslider({
	    	animation: "slide"
		});
	});

	$('#newmemory').collapse("hide");
	
	$('[placeholder]').focus(function() {
	  var input = $(this);
	  if (input.val() == input.attr('placeholder')) {
	    input.val('');
	    input.removeClass('placeholder');
	  }
	}).blur(function() {
	  var input = $(this);
	  if (input.val() == '' || input.val() == input.attr('placeholder')) {
	    input.addClass('placeholder');
	    input.val(input.attr('placeholder'));
	  }
	}).blur();

	$('[placeholder]').parents('form').submit(function() {
	  $(this).find('[placeholder]').each(function() {
	    var input = $(this);
	    if (input.val() == input.attr('placeholder')) {
	      input.val('');
	    }
	  })
	});
	
	$('.addphoto-icon, .adddate-icon ').hover(function() {
		$(this).fadeTo('fast',1);
	}, function() {
   	$(this).fadeTo("fast", 0.6);
 	});


 	$('.addphoto-icon').click(function() {
 		$('.addphoto-icon').fadeTo('fast',1);
 		$('.addphoto').toggleClass("hidden"); 
 		if (! $('.adddate').hasClass("hidden")){ 
 			$('.adddate').addClass("hidden");
 		}
 	});

 	$('.adddate-icon').click(function() {

 		$('.adddate-icon').fadeTo('fast',1);
 		$('.adddate').toggleClass("hidden");
 		if (! $('.addphoto').hasClass("hidden")){ 
 			$('.addphoto').addClass("hidden");
 		}
 	});

 	$('.suggest-icon').hover(function() {
		$(this).fadeTo('fast',1);
	}, function() {
   	$(this).fadeTo("fast", 0.6);
 	});

 	$('.suggeststory').click(function() {
 		$('.suggeststory').fadeTo('fast',0);
 		$('.memoryquestion').toggle("hidden");
 		//$('.messageSection').toggleClass ("withphoto");
 		//$('.messageBox').toggleClass ("withphoto");
 	});

	$('.skipquestion').click(function() {
		skipQuestion();
		resetQuestion();
 	});

 	$('#memorycounter').text('250');
	$('#memory_content').keyup(function (e) {
		if((e.which == 13)) {
	      e.preventDefault();
	      return false;
	    }
	    var left = 250 - $(this).val().length;
	    if (left < 0) {
	        $('#memorycounter').addClass("text-error");
	    }
	    $('#memorycounter').text(left);
		    
	});

	$('.newmemorymodal, #addcontributor').on('show', function () {
		$('body, html').scrollLeft(0);
		$("body").mousewheel(function(event) {
      $(this).unbind('mousewheel').mousewheel();
    });
  });

  $('.newmemorymodal, #addcontributor').on('hide', function () {
		$("body").mousewheel(function(event, delta) {
      this.scrollLeft -= (delta * 30);
      event.preventDefault();
    });
  });

	$('.coachmarks').click(function() {
		$('.modal.in').modal('hide') 
	});

	$('.firststories-coachmark, .addmemory-coachmark').click(function() {
		$('.modal.in').modal('hide'); 
	});

	$('#zoomstory').on('show', function () {
	   $('body, html').css('cssText' , 'overflow-x: hidden !important;');
	});

	$('#zoomstory').on('hide', function () {
    $('body, html').css('cssText' , 'overflow-x: visible !important;');
	});

	var $container = $('#content');


	// use this if you want to use the spinner
	$(".savestory_button").click(function(){
		$('.modal.in').modal('hide');
	 	var $tile_num_class = '.tile' + $('#memory_tile_num').val();
	 	$($tile_num_class).html('<div class="loading-spinner"><div class="loading-spinner-content"><i class="icon-spinner icon-spin icon-4x"></i><div class="loading-desc"><h2 >Loading... </h2></div></div></div>');
	});

	$(".zoomstoryMask").click(function(){
		$('#zoomstory').modal('show');
	});

	$(".edit_page_link").click(function(){
		$(".edit_panel").slideToggle(500);
	});
});
