$(document).ready(function(){
	 

	$(".createstorybook_button").click(function(){
	   $('#betadescmodal').modal('hide');
       $('#loading_spinner').modal('show');
	});

	$('#loading_spinner').on('show', function () {
	    $('.loading-spinner-icon').removeClass('hide');
	});

	$('#loading_spinner').on('hide', function () {
	    $('.loading-spinner-icon').addClass('hide');
	
	});

	$("#submitbetapwd").click(function(){
		$(".error").hide();
        var hasError = false;
        var passwordVal = $("#betapassword").val();
        if (passwordVal != 'momsrock') {

    	   $(".betasignupdescription").prepend('<span class="error">Wrong beta password</span><br><br>');
    	   $('#betamodal').modal('hide');
           $('#betasignup').modal('show');
        } else {
    	   $('#betamodal').modal('hide');
           $('#signup_modal').modal('show');
        }
	});

	$('.first-btn').click(function(){
		$('.learnmore-btn').removeClass('active');
		$(this).addClass('active');
		$('.panel').addClass('hidden');
		$('#first').removeClass('hidden');
	});

	$('.second-btn').click(function(){
		$('.learnmore-btn').removeClass('active');
		$(this).addClass('active');
		$('.panel').addClass('hidden');
		$('#second').removeClass('hidden');
	});

	$('.third-btn').click(function(){
		$('.learnmore-btn').removeClass('active');
		$(this).addClass('active');
		$('.panel').addClass('hidden');
		$('#third').removeClass('hidden');
	});

	$('[placeholder]').focus(function() {
	  var input = $(this);
	  if (input.val() == input.attr('placeholder')) {
	    input.val('');
	    input.removeClass('placeholder');
	  }
	}).blur(function() {
	  var input = $(this);
	  if (input.val() == '' || input.val() == input.attr('placeholder')) {
	    input.addClass('placeholder');
	    input.val(input.attr('placeholder'));
	  }
	}).blur();

	$('[placeholder]').parents('form').submit(function() {
	  $(this).find('[placeholder]').each(function() {
	    var input = $(this);
	    if (input.val() == input.attr('placeholder')) {
	      input.val('');
	    }
	  })
	});
});