/* storybook */
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	padding-top: 40px;
}

.alert {
	z-index: 11 !important;
	margin-bottom: 10px !important;
	position: relative;
	width: 100%;
	float: left;
}

body {
background-color:#F7F5F5;
background:#282828 url('/images/textured_paper.png');
font-family: arial;
font-size: 15px;
line-height: 20px;
/*overflow-y:hidden;*/
z-index: 10;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.sneakpeekheader-text {
	padding-top: 7px !important;
	padding-left: 20px !important;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* topbar */

.topbar {
	margin: -4px -5px;
	text-decoration: none;
	overflow: hidden;
	text-align: middle;
	vertical-align: middle;
}

.navbar .navbar-inner .container {
    top: 0px;
    width: 940px;
}

.navbar .nav > li > a {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.messageBoxContainer.collapsed .messageSection {
	background-color: transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}


.btn-topbar-left {
	position: absolute !important;
	float: left;
	text-decoration: none;
	text-align: middle;
	vertical-align: middle;
}


.topbarname {
	margin: 8px -2px;
	margin-right: 50px;
	margin-left: 30px;
	width: 300px;
	font-size: 12px;
	text-align: middle;
	vertical-align: middle;

	h4 { 
		font-size: 18px; 
		line-height: 20px; 
		color: #696969;
	}

	a {
		color: #696969;
		text-decoration: none;
	}

	a:hover { 
		background-color: transparent;
	}
}

li.playslideshow {
	padding-top: 10px;
	padding-right: 5px;
}



li.iconaddcontributor{
	padding-top: 3px;
	padding-right: 5px;
}

li.iconsettings {
	padding-top: 1px;
	padding-right: 5px;
	padding-left: 5px;

	a:hover {
		text-decoration: none !important;
	}
}
li.signupbutton {
	padding-top: 5px;
}

div.dropdown:hover > ul.dropdown-menu.addnewstory {
	margin-top: 2px;
    display: block;    
}



.icon-off, .icon-sitemap, .icon-share, .icon-cog {	
	opacity: 0.6;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 27px;
    top: 7px;
	padding-right: 10px;
	position: relative;
	text-decoration: none;
}

.invite-permission-help  {	
	opacity: 0.8;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 20px;
  top: 3px;
	padding-right: 10px;
	position: relative;
	text-decoration: none;
}

.signup_button {
	padding: 0.4em 0.1em !important;
	height: 15px !important;
	width:120% !important;
	text-decoration:none !important;
	font-color:white;
	color: white !important;
	font-weight: normal !important;
	text-shadow: none !important;
}

.icon-share, .icon-sitemap, .icon-cog {
	opacity: 0.8;
	color: #69a100;
}

.newmemorybtn {
	
	.icon-plus {
		top: 7px;
		font-size: 27px;
		position: relative;
		color: #5f8f05;
	}

	a {
		.addnewstorytext {
			float: right;
			padding-top: 10px;
			padding-left: 10px;
			font-size: 18px;
			color: #5f8f05;
		}
	}
	a:hover {
		text-decoration: none !important;
	}	
}

.green {
	color: #5f8f05;
}

.icon

.suggeststory {
	color: #5f8f05;
	font-size: 1.2em;
	.icon-lightbulb {
		font-size: 1.5em;
		font-weight: bold;
		color: #5f8f05;
	}
	a {
		color: #5f8f05;
	}
	a:hover {
		text-decoration: none !important;
	}
}
li.storyboardlogo {
	margin: 0px 0px;
	width: 150px;
	height: 38px;
}

.dropdown-toggle {
	text-decoration: none !important;
}
h4.storybook-user {
	margin-top: -10px;
	display: inline !important;
	text-decoration: none !important;
	color: #999;
	
}
/* Message box */

.newmemorybtn {
	margin-left: 20px;
	margin-right: 200px;
}

.messageBoxContainer.collapsed {
	z-index: 0;
	display: block;
	float: left;
	width: 580px;
	height: 32px;
	.messageSection .messageBox {
		height: 32px;
	}
	.composerBox textarea  {
		height: 33px;
		margin: 0px 0px;
		padding: 5px 10px;
	}
}


.messageBox {
	background-color: #F7F8F9;
}


.messageBoxContainer.expanded {
	z-index: 0;
	display: block;
	float: left;
	width: 580px;
	height: 207px;
	.messageSection {
		height: 138px;
		outline: 1px solid gray;

		.messageBox {
			height: 140px;
			outline: 1px solid gray;
		}

		.messageBox.withphoto {
			height: 209px;
			outline: 1px solid gray;
		}
	}

	.messageSection.withphoto {
		height: 210px;
		outline: 1px solid gray;
	}

	
	.composerBox textarea  {
		height: 100px;
		margin: 0px 0px;
		padding: 5px 10px;
	}
}

.composerBox textarea  {
	height: 100px;
	margin: 0px 0px;
	padding: 5px 10px;
	resize: none;
}

.messageBoxContainer .messageSection {
	background-color: #d9dbdd;
	width: 543px; 
	padding: 4px;
	-moz-box-shadow: 10px 2px 50px rgba(0,0,0,0.5);
	-webkit-box-shadow:10px 2px 50px rgba(0,0,0,0.5);
	box-shadow:10px 2px 50px rgba(0,0,0,0.5);
}


.messageBoxContainer.collapsed.composerBox textarea {
	width: 543px;
	height: 26px;
	line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#messageTools {
	height: 38px;
	width: 540px;
	text-color: gray;

}

.gray {
	color: #999;
	text-decoration: none !important;
	display: inline !important;
}

#memorycounter {
	z-index: 1;
	float: left;
	color: gray;
	padding-left: 10px;
	font-size: 1em;
	padding-top: 9px;
}

.text-error {
	color: red;
}

/* Adding Photo */
.addphoto {
	position: relative;
	background-color: #d9dbdd;
	display: block;
	float: left;

	width: 530px;
	outline: 1px solid gray;

	input {
		margin: 5px 5px;
	}
}


.addphoto.hidden, .btn-post.hidden, .addphoto-icon.hidden, #messageTools.hidden, .skipquestion.hidden, .memoryquestion.hidden {
	display: none;
}

.addphoto, .btn-post, .addphoto-icon, #messageTools, .memoryquestion {
	display: inline;
}

.addphoto-icon, .suggest-icon {
	float: left;
	opacity: 0.6;
	font-size: 20px;
	padding-top: 7px;
	padding-left: 10px;
	a {
		color: black;	
		text-decoration: none;
	}
}

/* Questions field for message box */
.memoryquestion {
	p {
		color: #9a1b39;
		font-size: 1.1em;
		font-weight: bold;
	}
}

.questionwarning {
	p {
		color: gray;
		font-style:italic;
		font-size: 0.7em;
	}
}

.small_desc {
	color: gray;
	font-style:italic;
	font-size: 0.7em;
}

.skipquestion {
	position:relative;
	float: right;
	margin-top: -20px;
	margin-right: 15px;
	height: 32px;
	height: 32px;
}

.placeholder
{
  color: gray;
}

.btn-post {
	float: right;
	padding-top: 5px;
	margin: -5px 5px;
}

/* Storybook */

#content {
width: 0;
margin: 0 10%;
margin-top: 3.5%;
height: 600px;
}
 
#blank {
	display: block;
	width: 282px;
	height: 2px;
	margin-left: 10px;
	margin-right: 10px;
	border: none;
	padding: 0;
	color: none;
	background: none;
	margin-bottom: 2px;
	/*border: 1px dotted red;*/
	box-shadow: none;
 }
 
.box-title {
	font-size: 30px;
}
 
.newbox {
	color: #212121;
	display: inline-block;
	padding: 15px;
	margin-left: 10px;
	margin-right: 10px;
	width: 250px;
	background: #eee;
	border: 1px solid #ddd;
	margin-bottom: 5px;
	z-index: 900 !important;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.box-text {
	font-size: 15px;
}

.box-user {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-top: 10px;
	display: block;
	font-size: 12px;
	color: gray;
}

.box-timestamp {
	display: inline-block;
	font-size: 10px;
	color: gray;
}

.storyimage {
	max-width: 100%;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {

  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
	z-index: 1 !important;
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* slideshow */
.modal-body {
	max-height: 800px;
}

.loading-spinner-icon {
	position: absolute;
	color: #fff;
	float: left;
	font-weight: bold;
	margin-left: 40%;
	margin-top: 15%;
	text-align:center;
	z-index: 1050;
}

.loading-desc h2 {
	color: #fff !important;
	font-color: #fff !important;
	z-index: 1050;
}

.flexslider .slides {width: 100%; }
#slideshow { 
	position:fixed;
	top: 250px; 
	left: 280px;
	overflow:hidden; 
	height:100%; 
	width:100%;

	.flexslider {

	}
	li {
		position: relative;
		float: none;
	}


	.slides {
		position:relative;
	}
	.slideshow-content {

		font-style:italic;
	}

	.slideshow-user {
		display: block;
		font-style:italic;
		float: right;
		padding-right: 10px;
	}

}

/* new storybook modal */
.newuserstorybook {
	padding-left: -300px;
	margin-left: -700px;
	margin-top: -375px;
	background-color: transparent !important;
	color: transparent !important;
	border:none !important;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	overflow: hidden !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	background-clip: none !important;
	outline: none !important;
	width: 900px !important;
}

.loading_spinner {
	padding-left: -300px;
	margin-left: -700px;
	margin-top: -375px;
	background-color: transparent !important;
	color: transparent !important;
	border:none !important;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	overflow: hidden !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	background-clip: none !important;
	outline: none !important;
	width: 900px !important;
}

.firstthreestories_backdrop, .addbyemail_backdrop, .sneakpeakmodal1, 
.sneakpeakmodal2, .sneakpeakmodal3, .sneakpeakmodal4, .comingsoonfeatures {
	padding-left: -300px;
	margin-left: -700px;
	margin-top: -375px;
	background-color: transparent !important;
	color: transparent !important;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	overflow: hidden !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	background-clip: none !important;
	outline: none !important;
	width: 900px !important;
}

.newmemorymodal {
	.picture {
		position: fixed;
		float: left;
		margin-left: -33px;
		margin-top: -15px;
	}
}

.newmemorymodal {
	.picture {
		position: fixed;
		float: left;
		margin-left: -33px;
		margin-top: -15px;
	}
}

/* coachmarks for sneak peek storybook */


.newfeatures-coachmark {
	position: absolute;
	float: left;
	margin-top: -500px;
	margin-left: 400px;
	z-index: 1050;
}

.welcomesneakpeek-coachmark {
	position: absolute;
	float: left;
	margin-top: -375px;
	margin-left: 300px;
	z-index: 1050;
}

.thistory-coachmark {
	position: relative;
	float: left;
	margin-top: -600px;
	margin-left: 390px;
	z-index: 1050;
}

.startstorybook-coachmark {
	position: relative;
	float: left;
	margin-top: -665px;
	margin-left: 70%;
	z-index: 1050;
}

/* coachmarks for storybook */

.welcome-coachmark {
	position: absolute;
	float: left;
	margin-top: -375px;
	margin-left: 400px;
	z-index: 1050;
}

.edit-coachmark {
		position: absolute;
		float: left;
		margin-top: -625px;
		margin-left: 400px;
		z-index: 1050;
	}
.invite-coachmark {
	position: relative;
	float: left;
	margin-top: -645px;
	margin-left: 55%;
	z-index: 1050;
}

.addmemory-coachmark {
	position: relative;
	float: left;
	margin-top: -605px;
	margin-left: 50px;
	z-index: 1050;
}

.firststories-coachmark {
	position: relative;
	float: left;
	margin-top: -625px;
	margin-left: 50px;
	z-index: 1050;
}

.firstaddbyemail-coachmark {
	position: relative;
	float: left;
	margin-top: -625px;
	margin-left: 50px;
	z-index: 1050;
}

.modal-backdrop, .modal-backdrop.fade.in {
    filter: alpha(opacity=50);
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.6;
 }

.modal-backdrop {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.green_button {
	position:relative;
	padding:0.9em 1em;color:#fff;display:inline-block;font-size:1.2em;text-align:center;background-color:#69a100;
	background-image:-webkit-linear-gradient(#95c53d, #69a100, #5f8f05);
	background-image:-moz-linear-gradient(#95c53d, #69a100, #5f8f05);
	color:#fff;text-align:center;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
	box-shadow:0 2px 4px rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.4);
	border-width:1px;border-style:solid;border-color:#5f8f05;
	text-shadow:0 -1px 0 rgba(0,0,0,0.6);
	cursor:pointer;margin:0em;font-size:16px;margin-right:0%
}

.green_button:hover {
	background-image:-webkit-linear-gradient(#69a100, #95c53d, #5f8f05);
	color:#fff;
	border-color:#69a100;
	text-shadow:0 -1px 0px rgba(0,0,0,0.7);
	border-width:1px;border-style:solid
}

.story-edit-btn {
	position: absolute;
	opacity: 0;
	margin-top: -4%;
	margin-left: 85%;
	z-index: 100;
	.btn {
		font-size: 0.7em;
	}
	a.icon-chevron {
		text-decoration: none;
		color: #9a1b39;
	}
}

.like-btn{
	position: absolute;
	opacity: 0;
	margin-top: -4%;
	margin-left: 35%;
	z-index: 1;
	.btn {
		font-size: 0.7em;
	}
}

.red {
	color: #9a1b39;
}
.dropdown-menu
{
	position: absolute;
    float:left !important;
    padding-left: -95% !important;
    z-index: 1040 !important;
    margin-right: 100% !important;
    border-radius: 6px 0px 6px 6px;
}

.dropdown-menu.pull-left {
  left: 0;
  z-index: 1040 !important;
  right: auto;
}

.dividerline {
	font-size: 1.5em;
	color: #999;
	margin-top: 7px;
	margin-right: 13px;
}

.inline {
	display: inline !important;
}

.icon-small {
	font-size: 1.0em;
}

.open > .dropdown-menu.memory
{
	position: relative;
    margin-left: -85%;
    z-index: 1000 !important;
    border-radius: 6px 0px 6px 6px;
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;width:100%;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;
	-webkit-box-shadow:"inset 0 2px 5px rgba(0,0,0,0.1), 0 1px 0px 1px rgba(255,255,255,0.4)";
	-moz-box-shadow:"inset 0 2px 5px rgba(0,0,0,0.1), 0 1px 0px 1px rgba(255,255,255,0.4)";
	box-shadow:"inset 0 2px 5px rgba(0,0,0,0.1), 0 1px 0px 1px rgba(255,255,255,0.4)";
}
