/* storybook */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
background-color:#F7F5F5;
background-image:url('/images/textured_paper.png');
font-family: arial;
font-size: 15px;
line-height: 20px;
/*overflow-y:hidden;*/
z-index: 10;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* topbar */

.topbar {
	margin: -4px -5px;
	text-decoration: none;
	overflow: hidden;
	text-align: middle;
	vertical-align: middle;
}

.navbar .navbar-inner .container {
    top: 0px;
    width: 940px;
}

.navbar .nav > li > a {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.messageBoxContainer.collapsed .messageSection {
	background-color: transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}


.btn-topbar-left {
	position: absolute !important;
	float: left;
	text-decoration: none;
	text-align: middle;
	vertical-align: middle;
}


.topbarname {
	margin: 8px -2px;
	font-size: 12px;
	text-align: middle;
	vertical-align: middle;

	h4 { 
		font-size: 18px; 
		line-height: 20px; 
		color: #474747;
	}

	a {
		color: #474747;
		text-decoration: none;
	}

	a:hover { 
		background-color: transparent;
	}
}

li.playslideshow {
	padding-top: 10px;
	padding-right: 10px;
}

li.iconaddcontributor {
	padding-top: 7px;
	padding-right: 10px;
}

li.storyboardlogo {
	margin: 0px 0px;
	width: 150px;
	height: 38px;
}

/* Message box */

.messageBoxContainer.collapsed {
	z-index: 0;
	display: block;
	float: left;
	width: 580px;
	height: 32px;
	.messageSection .messageBox {
		height: 32px;
	}
	.composerBox textarea  {
		height: 33px;
		margin: 0px 0px;
		padding: 5px 10px;
	}
}

.messageBox {
	background-color: #F7F8F9;
}

.messageBoxContainer.expanded {
	z-index: 0;
	display: block;
	float: left;
	width: 580px;
	height: 207px;
	.messageSection {
		height: 138px;

	}

	.messageBox {
		height: 140px;
		outline: 1px solid gray;
	}
	.composerBox textarea  {
		height: 100px;
		margin: 0px 0px;
		padding: 5px 10px;
	}
}

.messageBoxContainer .messageSection {
	background-color: #d9dbdd;
	width: 543px; 
	padding: 4px;
	-moz-box-shadow: 10px 2px 50px rgba(0,0,0,0.5);
	-webkit-box-shadow:10px 2px 50px rgba(0,0,0,0.5);
	box-shadow:10px 2px 50px rgba(0,0,0,0.5);
}


.messageBoxContainer.collapsed.composerBox textarea {
	width: 543px;
	height: 26px;
	line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#messageTools {
	height: 38px;
	width: 540px;
	text-color: gray;

}

#memorycounter {
	position: absolute;
	z-index: 1;
	float: left;
	color: gray;
	padding-left: 10px;
	font-size: 1em;
	padding-top: 7px;
}

.text-error {
	color: red;
}

/* Adding Photo */
.addphoto {
	position: relative;
	background-color: #d9dbdd;
	display: block;
	float: left;
	-moz-box-shadow: 10px 2px 50px rgba(0,0,0,0.5);
	-webkit-box-shadow:10px 2px 50px rgba(0,0,0,0.5);
	box-shadow:10px 2px 50px rgba(0,0,0,0.5);
	width: 543px;
	outline: 1px solid gray;

	input {
		margin: 5px 5px;
	}
}


.addphoto.hidden, .btn-post.hidden, .addphoto-icon.hidden, #messageTools.hidden {
	display: none;
}

.addphoto, .btn-post, .addphoto-icon, #messageTools{
	display: inline;
}

.addphoto-icon {
	float: left;
	padding-top: 5px;
	padding-left: 50px;
}

.btn-post {
	float: right;
	padding-top: 5px;
	margin: -5px 5px;
}

/* Storybook */

#content {
width: 0;
margin: 0 10%;
margin-top: 5%;
height: 600px;
}
 
#blank {
	display: block;
	width: 282px;
	height: 2px;
	margin-left: 10px;
	margin-right: 10px;
	border: none;
	padding: 0;
	color: none;
	background: none;
	margin-bottom: 2px;
	/*border: 1px dotted red;*/
	box-shadow: none;
 }
 
.box-title {
	font-size: 30px;
}
 
.newbox {
	color: #212121;
	display: inline-block;
	padding: 15px;
	margin-left: 10px;
	margin-right: 10px;
	width: 250px;
	background: #eee;
	border: 1px solid #ddd;
	margin-bottom: 5px;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.box-text {
	font-size: 15px;
}

.box-user {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-top: 10px;
	display: block;
	font-size: 12px;
}

.box-timestamp {
	display: inline-block;
	font-size: 10px;
}

.storyimage {
	max-width: 100%;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* slideshow */
.modal-body {
	max-height: 800px;
}


.flexslider .slides {width: 100%; }
#slideshow { 
	position:fixed;
	top: 250px; 
	left: 280px;
	overflow:hidden; 
	height:100%; 
	width:100%;

	.flexslider {

	}
	li {
		position: relative;
		float: none;
	}


	.slides {
		position:relative;
	}
	.slideshow-content {

		font-style:italic;
	}

	.slideshow-user {
		display: block;
		font-style:italic;
		float: right;
		padding-right: 10px;
	}

}
