<p class="invite-heading1">
	Your free trial ends on <%= @subscription.current_period_end.strftime("%B %d, %Y") %></p>

	<p>
	Please provide your credit card if you'd like to keep receiving your monthly FamilyTales e-books and unlimited storage.</p>
<%= form_tag subscriptions_path do %>

  <script src="https://checkout.stripe.com/v2/checkout.js"></script>
  <button id="customButton" class="green_button">Subscribe now for $4.99 per month</button>

  <script>
    $('#customButton').click(function(){
      var token = function(res){
        var $input = $('<input type=hidden name=stripeToken />').val(res.id);
        $('form').append($input).submit();
      };

      StripeCheckout.open({
        key:         	"<%= Rails.configuration.stripe[:publishable_key] %>",
        name: 				"FamilyTales",
        description: 	"Subscribe now for $4.99",
        image:       	"/assets/stripe_familytales_icon.png",
        panelLabel: 	"Subscribe now for $4.99",
        address: 			true, 
        token:       token
      });

      return false;
    });
  </script>
<% end %>