<% provide(:title, "Payments") %>
		
	<% if @subscription.stripe_customer_token.blank? %>
		<%= render 'subscriptions/new_subscriber' %>
	<% else %>
		<%= render 'subscriptions/current_subscriber' %>
	<% end %>	
		
	<p>Our payments are processed through <a href="https://www.stripe.com" target="_blank">Stripe</a>, a secure and <a href="https://stripe.com/help/security" target="_blank">fully PCI-compliant</a> payments processor. All communications with FamilyTales are secured with an SSL certificate from <a href="http://www.cloudflare.com/ target="_blank"">CloudFlare SSL</a>.</p>
	<p>Questions about billing? Email us at <a href="mailto:hello@thefamilytales.com" target="_blank">hello@thefamilytales.com</a>.</p>
