Hi <%= @user.first_name %>,

<p><h2><%= @question %></h2></p>

<p>Happy storytelling,</p>
The FamilyTales Team

<p><i>P.S. You are receiving this email as part of FamilyTales' new Tell a Tale by Email feature designed to enhance the richness of your story about <%= @profile.first_name %>. Just reply back with your response to the question and we will automatically add it to <%= @profile.first_name %>'s storybook. If you wish to unsubscribe from these emails, please reply with "Unsubscribe from Tell a Tale" in the Subject line.</i></p>