Hi <%= @user.first_name %>,

<p><strong><%= @question %></strong></p>

Happy storytelling,<br>
The FamilyTales Team

<p>P.S. If you wish to unsubscribe from these emails, please reply with "Unsubscribe from Tell-a-Tale-by-Email" in the subject line.</p>