Hi <%= @user.first_name %>,
<p>
From the beginning, FamilyTales has been dedicated to capturing and preserving the stories of your beloved babies and family members. We believe family stories should be treasured for generations and we want to make that storytelling process as easy and rich as possible.</p>

<p>Continuing in this tradition, <strong>we are pleased to introduce the "Tell a Tale By Email" feature of FamilyTales</strong>. With this, we will send you periodic emails containing a single question about a time or memory that you would like to share with your child as a keepsake. An example of such a question may be: "What is one life lesson you would like to share with your daughter, Diana?" </p>

<p>You can then send your answer to the question by simply replying to the email. Your answer will be recorded and saved automatically to your evolving storybook.</p>

<strong>Please expect the first Tell a Tale email to arrive in your inbox within the next hour.</strong>

<p>If you wish to opt-out of the feature, please reply to either this email or any subsequent emails with "Unsubscribe from Tell-a-Tale-by-Email" in the Subject line.</p>

<p>We are excited about this feature and we hope you will be, too.</p>

Much love,
The FamilyTales Team