<%= form_for @chapter, :html => { :multipart => true }, :remote => true do |f| %>
  <div class="field">
    <%= f.text_field :chapter_name, :required => true %>
  </div>
    <%= f.submit :class => "rounded createChapterButton Button btn", :value => "Save changes", :style => "padding: 0.5em 0.5em;" %>
<% end %>
