@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

#profile_last_name, #user_profile_last_name, #user_email, #user_password, #profile_first_name, #user_profile_first_name, #user_first_name, #user_last_name {
  border: 1px solid #bbb;
  width: 40%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
 
/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


 /* memories */

.memories {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* bootstrap mods */
.modal-backdrop {background-color: white;}

.navbar-inner {
  background-image:url(image_path('themes/first_time/trim.png'));
  background-position:0 0;
  background-repeat:repeat-x;
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.42,#e9e9e9),color-stop(0.71,#f6f6f6));
  background-image:-moz-linear-gradient(center bottom,#e9e9e9 42%,#f6f6f6 71%);
  background-color: #c9cccf;
  min-width: 960px;
  height: 38px;
  float: left;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

.selectedItem {
  background-color:#d8dfea;
  font-weight:bold;
}

.coloredstrong {
  font-size: 16px;
  color: #ffd700 !important;
  font-weight: bold;
}

.btn_yellow span {
  background: url(image_path('btn-cta-yellow.png')) no-repeat 0 0 transparent;
  padding: 17px 0 21px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #a0741f;
  line-height: 14px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 1px 1px #ffffff;
  display: block;
  text-transform: uppercase;
}
.btn_yellow {
  background: url(image_path('btn-cta-yellow-span.png')) no-repeat top right transparent;
  height: 52px;
  padding-right: 20px;
  margin-left: 250px;
  margin-top: 20px !important;
  display: block;
  text-decoration: none;
  width: 300px;
}
.btn_yellow:hover span {
  background-position: 0 -52px;
}
.btn_yellow:hover {
  background-position: right -52px;
  text-decoration: none;
}
/*Small yellow button*/
.btn_yellowsmall span {
  background: url(image_path('btn-yellow-small.png')) no-repeat 0 0 transparent;
  padding: 11px 0 13px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #a0741f;
  line-height: 12px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 1px 1px #ffffff;
  display: block;
  text-transform: uppercase;
}

.btn_yellowsmall {
  background: url(image_path('btn-yellow-small-span.png')) no-repeat top right transparent;
  height: 36px;
  padding-right: 20px;
  margin-top: 20px !important;
  display: block;
  text-decoration: none;
  float: left;
}
.btn_yellowsmall:hover span {
  background-position: 0 -36px;
}
.btn_yellowsmall:hover {
  background-position: right -36px;
  text-decoration: none;
}

.button_wrapper {
  position: relative;
  left: 50%;
  float: left;
}