.topbar {
	margin: 2px 0px;
	text-decoration: none;
	overflow: hidden;
	text-align: middle;
	vertical-align: middle;
	

}



.topbarname {
	margin: 2px -2px;
	font-size: 12px;
	text-align: middle;
	vertical-align: middle;

	h4 { 
		font-size: 18px; 
		line-height: 20px; 
		color: white;
	}

	a {
		color: white;
	}
	

}

.icon-add-contributor {

	width: 30px;
	height: 30px;
	outline: 0;
}