<div class='footer wrapper'>
<footer>
<nav class='navigation'>
<ul>
<li class='menu_group'>
<h3>Product</h3>
<ul>
<li><a href="/">Home</a></li>
<li><a data-toggle="modal" data-dismiss="modal" aria-hidden="true" href="#betasignup" >Sign up</a></li>
<li><a href="#">Help</a></li>
</ul>
</li>
<li class='menu_group'>
<h3>Company</h3>
<ul>
<li><a href="/">About</a></li>
<li><a href="#">Blog</a></li>
</ul>
</li>
<li class='menu_group'>
<h3>Legal bits</h3>
<ul>
<li><a href="/#">Terms</a></li>
<li><a href="/#">Privacy</a></li>
</ul>
</li>
<li class='menu_group'>
<h3>Social</h3>
<ul>
<li><a href="https://twitter.com/myFamilyTales" target="_blank">Twitter</a></li>
<li><a href="https://www.facebook.com/myFamilyTales">Facebook</a></li>
</ul>
</li>
<li class='menu_group'>
<h3>Contact</h3>
<address>
<a href="mailto:hello@familytales.co">hello@familytales.co</a>
<br>
1 (877) 753-9166
<br>
101 College St. Suite 230
<br>
Toronto, Ontario, Canada
<br>
M5G 1L7
</address>
</li>
</ul>
</nav>
<div class='logo'>

<a href="/" class="home"><%= image_tag("/images/fulllogo1.png", :alt => "logo") %></a>
</div>
<!-- %small.copyright &copy;#{Time.now.strftime('%Y')} ShopLocket -->
</footer>