<div class='header wrapper'>
  <header>
    <div class='branding'>
      <h1 class='logo'>
        <a href="/" class="home"><%= image_tag("/images/fulllogo1.png") %></a>
      </h1>
      <div class='sm'>
        <a href="http://twitter.com/myFamilyTales" title="Follow us on Twitter" target="_blank"><i class="icon-twitter"></i></a>
        <a href="http://www.facebook.com/myFamilyTales" title="Become a fan on Facebook" target="_blank"><i class="icon-facebook"></i></a>
        <div class='phone'>
            Need help?
          <span class='number'>
            1 (877) 753-9166
          </span>
        </div>
      </div>
    </div>
    <% if signed_in? %>
      <nav>
        <ul>
          <li class="header-links">
            <h3><%= link_to "Profile", current_user, :class=>"home selected" %></h3>
          </li>
          <li class="header-links">
            <h3><%= link_to "Settings", edit_user_path(current_user), :class=>"" %></h3>
          </li>
          <li class="header-links">
            <h3><%= link_to "Sign out", signout_path, method: "delete" %></h3>
          </li>
        </ul>
      </nav>
    <% else %>
      <nav>
        <ul>
          <li class="header-links">
            <a href="/" class="home selected"><h3>Home</h3></a>
          </li>
          <li class="header-links">
            <a href="/about" class=""><h3>About</h3></a>
          </li>
          <li class="header-links">
            <a href="http://blog.familytales.co" class=""><h3>Blog</h3></a>
          </li>
          <!-- use this when the website goes live 
          <li class='login'>
            <a href="/login" class="">Login</a>
          </li>
          <li class='signup'>
            <a href="/signup" class="">Signup</a>
          </li>
        -->
        <li class='login'>
            <a data-toggle="modal" data-dismiss="modal" aria-hidden="true" href="/login" >Login</a>
          </li>
          <li class='signup'>
            <a data-toggle="modal" data-dismiss="modal" aria-hidden="true" href="/signup" >Signup</a>
          </li>
        </ul>
      </nav>
    <% end %>
  </header>
</div>
