<div class='header wrapper'>
  <header>
    <div class='branding'>
      <h1 class='logo'>
        <%= image_tag("/images/fulllogo1.png") %>
      </h1>
      <div class='sm'>
        <a href="http://twitter.com/myFamilyTales" class="twitter" title="Follow us on Twitter" target="_blank">Follow us on Twitter</a>
        <a href="http://facebook.com/myFamilyTales/" class="fb" title="Become a fan on Facebook" target="_blank">Become a fan on Facebook</a>
        <div class='phone'>
            Need help?
          <span class='number'>
            1 (877) 753-9166
          </span>
        </div>
      </div>
    </div>
    <% if signed_in? %>
      <nav>
        <ul>
          <li>
            <%= link_to "Profile", current_user, :class=>"home selected" %>
          <li>
            <%= link_to "Settings", edit_user_path(current_user), :class=>"" %>
          </li>
          <li>
            <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        </ul>
      </nav>
    <% else %>
      <nav>
        <ul>
          <li>
            <a href="/" class="home selected">Home</a>
          </li>
          <li>
            <a href="/#" class="">About</a>
          </li>
          <li>
            <a href="/#" class="">Blog</a>
          </li>
          <!-- use this when the website goes live 
          <li class='login'>
            <a href="/login" class="">Login</a>
          </li>
          <li class='signup'>
            <a href="/signup" class="">Signup</a>
          </li>
        -->
        <li class='login'>
            <a data-toggle="modal" data-dismiss="modal" aria-hidden="true" href="/login" >Login</a>
          </li>
          <li class='signup'>
            <a data-toggle="modal" data-dismiss="modal" aria-hidden="true" href="/signup" >Signup</a>
          </li>
        </ul>
      </nav>
    <% end %>
  </header>
</div>
