<footer class="navbar-fixed-bottom">
		<ul id="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="http://blog.thefamilytales.com">Blog</a></li>
			<li><a href="/privacy">Privacy</a></li>
			<li><a href="/terms">Terms</a></li>
			<li><a href="https://twitter.com/myFamilyTales"><i class="icon-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/myFamilyTales"><i class="icon-facebook"></i></a></li>
		</ul>

</footer>