<!-- Footer area - footer_top -->
<footer>
    <div class="container border_footer">
        <div class="row-fluid">
            <div class="span8">
                <p>Ariagami Inc. © FamilyTales. All rights reserved.</p>
            </div>
            <div class="span4 text_right">
                <p>Happy Storytelling!</p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer area - footer_top -->  