<div class='header wrapper'>
  <header>
    <div class='branding'>
      <h1 class='logo'>
        <%= image_tag("/images/fulllogo.png") %>
      </h1>
      <div class='sm'>
        <a href="http://twitter.com/myFamilyTales" class="twitter" title="Follow us on Twitter" target="_blank">Follow us on Twitter</a>
        <a href="http://www.facebook.com/myFamilyTales" class="fb" title="Become a fan on Facebook" target="_blank">Become a fan on Facebook</a>
        <div class='phone'>
            Need help?
          <span class='number'>
            1 (877) 753-9166
          </span>
        </div>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/" class="home selected">Home</a>
        </li>
        <li>
          <a href="/#" class="">About</a>
        </li>
        <li>
          <a href="/#" class="">Blog</a>
        </li>
        <!-- use this when the website goes live 
        <li class='login'>
          <a href="/login" class="">Login</a>
        </li>
        <li class='signup'>
          <a href="/signup" class="">Signup</a>
        </li>
      -->
      <li class='login'>
          <a data-toggle="modal" data-dismiss="modal" aria-hidden="true" href="#signin_modal" >Login</a>
        </li>
        <li class='signup'>
          <a data-toggle="modal" data-dismiss="modal" aria-hidden="true" href="#betamodal" >Signup</a>
        </li>
      </ul>
    </nav>
  </header>
</div>