<!-- Social media icons -->
	<ul id="social">
		<li class="twitter"><a title="Twitter" href="https://twitter.com/myFamilyTales" target="_blank"></a></li>
		<li class="fb"><a title="Facebook" href="https://www.facebook.com/FamlyTales?fref=ts" target="_blank"></a></li>
		<li class="contact"><a href="mailto:familytalesus@gmail.com" title="Contact Us" target="_blank"></a></li>
	</ul>