<div class="storyboardSidebar collapsed">
	<div class="storyboardSidebarMenu">
    <div class="accordion" id="leftMenu">
	    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle closeSidebar" data-parent="#leftMenu" href="#chapterlist" rel="tooltip" title="Close this menu" data-placement="right">
                <i class="icon-chevron-down"></i> Chapters
            </a>
        </div>
        <div id="chapterlist" class="accordion-body collapse in">
            <div class="accordion-inner">
            	<% if signed_in? && current_user.canContribute?(@profile) %>
            	<div class="sidebar_new_chapter">
            		<%= render 'profiles/new_chapter_form' %>
            	</div>
            	<% end %>
				      <%= render 'shared/chapterpicker_links' %>
            </div>
        </div>
	    </div>
		</div>
	</div>
</div>