<div class="storyboardSidebar collapsed">
	<div class="btn-group btn-group-vertical sidebarButtons">
    <button type="button" rel="tooltip" title="View all chapters" class="btn chapterlist_btn"><i class="icon-th-list"></i></button>
  </div>

	<div class="storyboardSidebarMenu hidden">
    <div class="accordion" id="leftMenu">
	    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle closeSidebar" data-parent="#leftMenu" href="#chapterlist" rel="tooltip" title="Close this menu" data-placement="right">
                <i class="icon-chevron-left"></i> Chapters
            </a>
        </div>
        <div id="chapterlist" class="accordion-body collapse in">
            <div class="accordion-inner">
            	<div class="sidebar_new_chapter">
            		<%= render 'profiles/new_chapter_form' %>
            	</div>
				      <%= render 'shared/chapterpicker_links' %>
            </div>
        </div>
	    </div>

	    <!-- Reserved for the customization

	    <div class="accordion-group">
	        <div class="accordion-heading">
	            <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseThree">
	                <i class="icon-th-list"></i> UI Components
	            </a>
	        </div>
	        <div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
	            <div class="accordion-inner">
	                <ul>
	                    <li>This is one</li>
	                    <li>This is two</li>
	                    <li>This is Three</li>
	                </ul>                 
	            </div>
	         </div>
	    </div>
	  	-->
		</div>
	</div>
</div>